{% extends 'base.html' %}

{% block content %}
	<div class="col-12">
		<h2>{{ object.title }}</h2>
		<h3>Tracks</h3>
		<table class="table">
			<thead>
				<th class="col-8">Title</th>
				<th class="col-2">Latest Revision</th>
				<th class="col-2">Finalized</th>
			</thead>
			<tbody>
				{% for track in object.tracks.all %}
					<tr>
						<td><a href="{{ track.get_absolute_url }}">{{ track.title }}</a></td>
						<td>{% if track.latest %}{{track.latest.upload_date}}{% else %} <em>No files.</em> {% endif %}</td>
						<td>{{ track.finalized|yesno:"Yes,No" 	}}</td>
					</tr>
					{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
